<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FitFin.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>199EA40FDC8585C9897583C1EE70AA8781057E73</string>
				<key>dateExpires</key>
				<string>14/11/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>199EA40FDC8585C9897583C1EE70AA8781057E73</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BY33AZH39S</string>
						<key>name</key>
						<string>Ware Revolutionary Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>199EA40FDC8585C9897583C1EE70AA8781057E73</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BY33AZH39S</string>
						<key>name</key>
						<string>Ware Revolutionary Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>199EA40FDC8585C9897583C1EE70AA8781057E73</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BY33AZH39S</string>
						<key>name</key>
						<string>Ware Revolutionary Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>199EA40FDC8585C9897583C1EE70AA8781057E73</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BY33AZH39S</string>
						<key>name</key>
						<string>Ware Revolutionary Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>199EA40FDC8585C9897583C1EE70AA8781057E73</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BY33AZH39S</string>
						<key>name</key>
						<string>Ware Revolutionary Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>199EA40FDC8585C9897583C1EE70AA8781057E73</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BY33AZH39S</string>
						<key>name</key>
						<string>Ware Revolutionary Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>199EA40FDC8585C9897583C1EE70AA8781057E73</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BY33AZH39S</string>
						<key>name</key>
						<string>Ware Revolutionary Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>199EA40FDC8585C9897583C1EE70AA8781057E73</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BY33AZH39S</string>
						<key>name</key>
						<string>Ware Revolutionary Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>199EA40FDC8585C9897583C1EE70AA8781057E73</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TextFieldEffects.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BY33AZH39S</string>
						<key>name</key>
						<string>Ware Revolutionary Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>199EA40FDC8585C9897583C1EE70AA8781057E73</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BY33AZH39S</string>
						<key>name</key>
						<string>Ware Revolutionary Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>199EA40FDC8585C9897583C1EE70AA8781057E73</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>BY33AZH39S.com.revolutionarywareinc.fitfin.FitfinContentNotification</string>
						<key>com.apple.developer.team-identifier</key>
						<string>BY33AZH39S</string>
						<key>get-task-allow</key>
						<true/>
						<key>keychain-access-groups</key>
						<array>
							<string>BY33AZH39S.com.revolutionarywareinc.fitfin.FitfinContentNotification</string>
						</array>
					</dict>
					<key>name</key>
					<string>FitfinContentNotification.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>da0d9ba1-2631-4a25-8bb3-fb1b20464eee</string>
						<key>dateExpires</key>
						<string>28/11/23</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: *</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BY33AZH39S</string>
						<key>name</key>
						<string>Ware Revolutionary Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>199EA40FDC8585C9897583C1EE70AA8781057E73</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>BY33AZH39S.com.revolutionarywareinc.fitfin.FitfinServiceNotification</string>
						<key>com.apple.developer.team-identifier</key>
						<string>BY33AZH39S</string>
						<key>get-task-allow</key>
						<true/>
						<key>keychain-access-groups</key>
						<array>
							<string>BY33AZH39S.com.revolutionarywareinc.fitfin.FitfinServiceNotification</string>
						</array>
					</dict>
					<key>name</key>
					<string>FitfinServiceNotification.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>da0d9ba1-2631-4a25-8bb3-fb1b20464eee</string>
						<key>dateExpires</key>
						<string>28/11/23</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: *</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BY33AZH39S</string>
						<key>name</key>
						<string>Ware Revolutionary Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BY33AZH39S.com.revolutionarywareinc.fitfin</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>BY33AZH39S</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>FitFin.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>adfd4448-7050-4583-a970-aedee665b335</string>
				<key>dateExpires</key>
				<string>28/11/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.revolutionarywareinc.fitfin</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BY33AZH39S</string>
				<key>name</key>
				<string>Ware Revolutionary Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>3.0</string>
		</dict>
	</array>
</dict>
</plist>
